<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="resourceHandler" class="com.epam.brest.resource.impl.TxtFileResourceHandler" />

    <bean id="priceHandler" class="com.epam.brest.calc.PriceHandler">
        <constructor-arg ref="resourceHandler" />
        <constructor-arg type="java.lang.String" value="${file.price.kg}"/>
        <constructor-arg type="java.lang.String" value="${file.price.km}"/>
    </bean>

    <bean id="messageProvider" class="com.epam.brest.model.MessageProvider">
        <constructor-arg ref="resourceHandler"/>
        <constructor-arg type="java.lang.String" value="${file.messages}"/>
    </bean>

    <bean id="deliveryCalculator" class="com.epam.brest.calc.impl.DeliveryCalculatorImpl">
        <constructor-arg ref="priceHandler" />
    </bean>

</beans>